@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/Comfortaa-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1264px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.fl {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.page-header {
  padding: 0px;
  background-size: cover;
  flex-wrap: wrap;
}

.header-logo {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 70.31%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(2px);
  padding: 25px 0 30px 27px;
  height: 215px;
  background-size: cover;
  width: 100%;
}

.header {
  width: 100%;
}

.logo1 {
  width: 280px;
  height: 160px;
  left: 27px;
  top: 25px;
  padding-right: 120px;
}

.navigation {
  gap: 160px;
  list-style-type: none;
}

.wrapper {
  background: url(../img/фон1.jpg) no-repeat center center;
  background-size: cover;
}

h1 {
  text-align: center;
  padding-top: 300px;
  padding-bottom: 33px;
  font-family: "Comfortaa";
  font-size: 48px;
  font-weight: normal;
  line-height: 54px;
  color: #FFFFFF;
}

.burger-input,
.burger-label {
  display: none;
}

.img-burger {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 83.33%);
  top: 648px;
  height: 432px;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Nunito";
  font-size: 24px;
  line-height: 33px;
}

.navigation {
  width: 70%;
  padding-top: 65px;
}

.studis {
  background-color: black;
  background-size: cover;
  padding-top: -200px;
  position: relative;
}

.text-studis {
  color: white;
  text-align: center;
  padding-top: 22px;
}

.tagline {
  font-family: "Comfortaa";
  font-size: 24px;
  line-height: 27px;
}

h2 {
  font-family: "Nunito";
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin-top: 21px;
}

.studio-border {
  border: 3px solid #FFFFFF;
  width: 126px;
  height: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.appeal-text {
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  line-height: 35.68px;
  font-family: "Comfortaa";
  font-size: 32px;
  padding-top: 107px;
}

.advantages {
  padding-bottom: 104px;
  padding-top: 154px;
  gap: 240px;
  flex-wrap: wrap;
}

.text-advantage {
  margin-left: 21px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: white;
}

.quality {
  padding-left: 210px;
}

.safety {
  padding-left: 50px;
}

.speed {
  padding-left: 50px;
}

.masters-block {
  background: url(../img/мастера-фон.png) no-repeat center center;
  background-size: cover;
  position: relative;
}

.masters {
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 22px;
}

.border-master {
  border: 3px solid #FFFFFF;
  width: 126px;
  height: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.square {
  width: 309px;
  height: 472px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 54px;
}

.square-master {
  padding-top: 205px;
  padding-bottom: 353px;
  gap: 113px;
  justify-content: center;
  flex-wrap: wrap;
}

.foto-master {
  width: 200px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 100px;
  margin-left: 54px;
  margin-top: 16px;
}

.ava1 {
  width: 150px;
  height: 150px;
  margin-top: 16px;
  margin-left: 25px;
}

.ava2 {
  width: 151px;
  height: 150.75px;
  margin-top: 15px;
  margin-left: 24px;
}

.ava3 {
  width: 152px;
  height: 152px;
  margin-top: 18px;
  margin-left: 22px;
}

.border-masters2 {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 255px;
  height: 0px;
  border: 2px solid #000000;
}

.text-masters {
  margin-top: 6px;
  font-family: "Comfortaa";
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.services {
  background: url(../img/фон-услуги.png);
  background-size: cover;
}

.text-services {
  color: white;
  text-align: center;
  padding-top: 40px;
}

.txt-serv {
  font-family: "Comfortaa";
  font-size: 24px;
  line-height: 27px;
}

.border-services {
  border: 3px solid #FFFFFF;
  width: 126px;
  height: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.tattoo {
  margin-top: 152px;
  color: white;
}

.deleted {
  margin-top: 152px;
  color: white;
}

.piercing {
  margin-top: 152px;
  color: white;
}

.tattoo-img {
  width: 222px;
  height: 222px;
}

.deleted-img {
  width: 222px;
  height: 222px;
}

.piercing-img {
  width: 222px;
  height: 222px;
}

.txt-tattoo {
  margin-top: 47px;
  font-family: "Nunito";
  font-size: 32px;
  text-align: center;
}

.icon-service {
  padding-bottom: 179px;
  justify-content: center;
  gap: 185px;
  flex-wrap: wrap;
}

.text-portfolio {
  text-align: center;
  padding-top: 37px;
}

.txt-portfolio {
  font-family: "Comfortaa";
  font-size: 24px;
  line-height: 27px;
}

.border-portfolio {
  border: 3px solid black;
  width: 126px;
  height: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.content-foto {
  justify-content: center;
  margin-top: 121px;
}

.tatu {
  font-family: "Nunito";
  font-size: 32px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

.tatu-border {
  width: 63px;
  height: 0px;
  border: 2px solid #000000;
  transform: rotate(90deg);
  margin-top: 21px;
}

.squart {
  margin-top: 81px;
  justify-content: center;
  gap: 79px;
  margin-bottom: 126px;
  flex-wrap: wrap;
}

.square-part1 {
  width: 309px;
  height: 472px;
  background: #ECECEC;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
}

.square-part2 {
  width: 451px;
  height: 472px;
  background: #ECECEC;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.squart2 {
  gap: 62px;
  margin-top: 81px;
  justify-content: center;
  margin-bottom: 126px;
  flex-wrap: wrap;
}

.part1 {
  width: 276px;
  height: 435px;
  margin-top: 18px;
  margin-left: 17px;
}

.part2 {
  width: 276px;
  height: 436px;
  margin-top: 18px;
  margin-left: 17px;
}

.part3 {
  width: 275px;
  height: 436px;
  margin-top: 18px;
  margin-left: 17px;
}

.part4 {
  width: 266px;
  height: 436px;
  margin-top: 18px;
  margin-left: 22px;
}

.part5 {
  width: 410px;
  height: 426px;
  margin-top: 23px;
  margin-left: 20px;
}

.part6 {
  width: 410px;
  height: 426px;
  margin-top: 23px;
  margin-left: 20px;
}

.part7 {
  width: 410px;
  height: 426.99px;
  margin-top: 23px;
  margin-left: 20px;
}

.part8 {
  width: 277.27px;
  height: 435px;
  margin-top: 18px;
  margin-left: 16px;
}

.part9 {
  width: 276px;
  height: 435px;
  margin-top: 18px;
  margin-left: 17px;
}

.part10 {
  width: 277.92px;
  height: 435px;
  margin-top: 18px;
  margin-left: 16px;
}

.part11 {
  width: 276px;
  height: 435px;
  margin-top: 18px;
  margin-left: 17px;
}

footer {
  background: #000000;
  opacity: 0.9;
}

.text-footer {
  text-decoration: none;
  color: white;
  justify-content: center;
  gap: 140px;
  margin-left: 202px;
  margin-top: 61px;
  flex-wrap: wrap;
}

.logo-footer {
  width: 137px;
  height: 167px;
  margin-top: 9px;
  margin-left: 30px;
}

.contact-footer {
  color: white;
  margin-left: 118px;
  margin-top: 29px;
  text-decoration: underline;
  flex-wrap: wrap;
  margin-right: 30px;
}

.footer-bottom {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #A6A4A4;
  margin-left: 30px;
  margin-top: 18px;
}

.mess {
  width: 71px;
  height: 71px;
  margin-top: 10px;
  flex-wrap: wrap;
}


/* Адаптив */
@media screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }

  .advantages {
    gap: 100px;
  }

  .quality {
    padding-left: 100px;
  }

  .safety {
    padding-left: 12px;
  }

  .speed {
    padding-left: 12px;
  }

  .square-master {
    gap: 60px;
  }

  .icon-service {
    gap: 120px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 692px;
  }

  .advantages {
    gap: 70px;
  }

  .quality {
    padding-left: 70px;
  }

  .safety {
    padding-left: 8px;
  }

  .speed {
    padding-left: 8px;
  }

  .square-master {
    gap: 35px;
  }

  .icon-service {
    gap: 65px;
  }

  .square-part1 {
    gap: 59px;
  }

  .square-part2 {
    gap: 42px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 568px;
  }

  .advantages {
    gap: 40px;
  }

  .quality {
    padding-left: 40px;
  }

  .safety {
    padding-left: 5px;
  }

  .speed {
    padding-left: 5px;
  }

  .square-master {
    gap: 25px;
  }

  .icon-service {
    gap: 40px;
  }

  .square-part1 {
    gap: 20px;
  }

  .square-part2 {
    gap: 12px;
  }

  .advantages {
    gap: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 400px;
  }

  .square-master {
    gap: 25px;
  }

  .icon-service {
    gap: 40px;
  }

  .square-part1 {
    gap: 20px;
  }

  .square-part2 {
    gap: 12px;
  }

  .advantages {
    gap: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 370px;
  }

  .square-master {
    gap: 25px;
  }

  .icon-service {
    gap: 40px;
  }

  .square-part1 {
    gap: 20px;
  }

  .square-part2 {
    gap: 12px;
  }

  .advantages {
    gap: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .header-nav{
    display: none;
  }

  .burger-label{
    display: flex;
  }

  .burger-input:checked~.header-nav{
    display: flex;
    position: fixed;
    width: 55%;
    height: 100%;
    right: 0;
    top: 100px;
    background-color: #000000;
    align-items: baseline;
    z-index: 100;
  }

  .burger-input:checked~.burger-label{
    display: flex;
    position: fixed;
    background-color: #000000;
    padding: 2em 5px;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    z-index: 1;
  }

  .navigation{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
  }

  .navigation a:hover{
    border: none;
  }
}
